wheel
pydantic==1.10.13
uvicorn
fastapi
python-multipart
jinja2
xlrd
numpy
pandas
pyyaml
pyotp
pendulum==2.1.2
git+https://github.com/ecomsense/stock-brokers.git
orjson
websocket-client
logzero
smartapi-python
