<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid Test</title>
    <link href="./../static/main.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="container mx-auto my-4 flex width-full">
      <div
        class="ml-2 card card-bordered bg-base-100 shadow-sm place-items-center"
      >
        <div class="card-body">
          <h2 class="card-title">Card title!</h2>
          <p>A card component has a figure</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>

      <div
        class="ml-2 card card-bordered bg-base-100 shadow-sm place-items-center"
      >
        <div class="card-body">
          <h2 class="card-title">Card title!</h2>
          <p>A card component has a figure, a bod</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
