{% extends "base.html" %}

{%  block form  %}
<form method='post' action='/orders/' id="frm" autocomplete="off" class="p-4 mx-auto bg-red-300 max-w-2xl">

<div class="flex justify-between mb-4">
  <!-- Left group: ptype -->
  <div class="join">
    <input class="join-item btn btn-square px-6" type="radio" value="1" name="ptype" aria-label="NRML" checked />
    <input class="join-item btn btn-square px-6" type="radio" value="2" name="ptype" aria-label="MIS" />
    <input class="join-item btn btn-square px-6" type="radio" value="3" name="ptype" aria-label="CNC" />
    <input class="join-item btn btn-square px-6" type="radio" value="4" name="ptype" aria-label="GTT" />
  </div>

  <!-- Right group: otype -->
  <div class="join">
    <input class="join-item btn btn-square px-6" type="radio" value="1" name="otype" aria-label="LMT" checked />
    <input class="join-item btn btn-square px-6" type="radio" value="2" name="otype" aria-label="MKT" />
    <input class="join-item btn btn-square px-6" type="radio" value="3" name="otype" aria-label="SL" />
    <input class="join-item btn btn-square px-6" type="radio" value="4" name="otype" aria-label="SLM" />
  </div>
</div>


<div class="flex justify-between mb-4">
  <div class="form-control autocomplete mr-4">
    <label class="label">
      <span class="label-text">Symbol</span>
    </label>
    <input id="symbol" name="symbol" type="text" class="input input-sm input-bordered">
    <input id="exchange" name="exchange" type="text" class="input input-sm input-ghost float-right" />
    <input id="token" name="token" type="hidden" />
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text-alt">Lot size:</span>
      <span id="lotsize" name="lotsize" class="label-text-alt"></span>
    </label>
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Price</span>
    </label></br>
    <input type="text" id="price" name="price" class="input input-sm input-bordered" style="width:75%"/>
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Trigger</span>
    </label><br/>
    <input type="text" id="trigger" name="trigger" class="input input-sm input-bordered" style="width:75%"/>
  </div>
</div>

<div class="form-control mx-auto">
  <label class="label cursor-pointer">
    <span class="label-text text-lg">SELL</span>
    <input id="txn" type="checkbox" name="txn" class="toggle toggle-lg bg-red-300 checked:bg-green-500"/>
    <span class="label-text text-lg">BUY</span>
  </label>
</div>
{% endblock form %}

{% block content %}
  <table class="mx-auto table table-compact">
    {% if th %}
    <tr>
      {% for k in th %}
          <th>{{ k }}</th>
      {% endfor %}
      <th>qty</th>
    </tr>
      {% for tr in data %}
    <tr>
        <td>{{ tr[0] | int }}</td>
        <td><input name="client_name" class="hidden" value='{{ tr[1] }}'>{{ tr[1] }}</td>
        <td>
          <input name="qty" type="number" class="input input-primary input-bordered input-sm" min="0" value="0"/>
        </td>
      </tr>
      {% endfor %}
      {% endif %}

    {% if mh %}
    <tr>
      {% for k in mh %}
          <th>{{ k }}</th>
      {% endfor %}
      <th>qty</th>
    </tr>
      {% for tr in md %}
    <tr>
        {% for v in tr %}
        {% if (v | int) >= 0 or (v | int) < 0   %}
          <td>{{ v | int }}</td>
        {% else %}
        <td><input name="client_name[]" class="hidden" value='{{ v }}'>{{ v }}</td>
        {% endif %}
        {% endfor %}
          <td>
            <input name="qty[]" type="number" class="input input-primary input-bordered input-sm" min="0" value="0">
          </td>
      </tr>
      {% endfor %}
      {%  endif %}
      <tr>
        <td colspan="3">
          <input type="submit" class="btn btn-primary btn-outline btn-block" value="SEND"/>
        </td>
      </tr>
    </table>
</form>
{% endblock content %}
